h2 { display: inline-block; margin: 0; }
#route-container ul li { padding-left: 20px; }
#route-container em { font-size: 0.8em; }
.switch { position: relative; display: inline-block; width: 38px; height: 20px; margin-right: 0.4em; transition: transform .2s ease; }
.switch input { opacity: 0; width: 0; height: 0; }
.switch:focus-within, .switch:hover {transform: scale(1.15);}
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: 0.4s; transition: 0.4s; border-radius: 18px; display:inline; }
.slider::before { position: absolute; content: ""; height: 14px; width: 14px; left: 4px; bottom: 3px; background-color: #fff; -webkit-transition: 0.4s; transition: 0.4s; border-radius: 50%; }
input:checked + .slider { background-color: #2196f3; }
input:focus + .slider { box-shadow: 0 0 1px #2196f3; }
input:checked + .slider::before { -webkit-transform: translateX(16px); -ms-transform: translateX(16px); transform: translateX(16px); }
div#select-container, div#default-allow-container, div#route-container { padding: 1em 0 1em 0; }
div#route-container { display: none; }
input#dra-reset-button { display: none; }

#select-container {
    font-size: 0.9375rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#select-container select {
    padding-top: .125rem;
    padding-bottom: 0.125rem;
    font-size: 0.9375rem;
    min-width: 14rem;
    margin-top: .5rem;
}

#button-container .button {
    font-size: 0.9375rem;
}
#button-container p.submit {
    padding-bottom: 1.75rem;
    margin-top: 0;
}


.block-style, .accordion-container {
    position: relative;
    background: #FFF;
    margin: 5px 0 1rem;
    box-shadow:
        0px 0.7px 0.5px rgba(0, 0, 0, 0.028),
        0px 2.5px 1.7px rgba(0, 0, 0, 0.042),
        0px 11px 9px rgba(0, 0, 0, 0.07);
}

.accordion-top {position: relative;}

.accordion-top .accordion-label {
    display: inline-flex;
    position: relative;
    z-index: 2;
    align-items: center;
    padding: .75rem .5rem .75rem .5rem;
}
.accordion-top label {
    vertical-align: text-top;
}

.accordion-expand {
    position: absolute;
    background: transparent;
    right: 0;
    border: 0;
    width: 100%;
    top: 0;
    height: 100%;
    padding: 0;
    z-index: 1;
    transform-origin: right;
    transition: all .2s ease;
}
.accordion-expand:before {
    content: "\276F";
    position: absolute;
    transform: rotate(90deg);
    top: 12px;
    right: 1.5rem;
    font-size: 1rem;
    transition: all .3s ease;
}
.accordion-container.expanded .accordion-expand:before {
    transform: rotate(270deg);
}

.accordion-expand:hover:before {
    color: #007cba;
}
.accordion-container:not(.expanded) .accordion-expand:hover:before {
    transform: rotate(90deg) scale(1.25);
}
.accordion-container.expanded .accordion-expand:hover:before {
    transform: rotate(270deg) scale(1.25);
}

.accordion-container ul {
    height: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: all .3s ease;
}
.block-style ul, .accordion-container ul {
    margin: 0;
}
.accordion-container.expanded ul, .block-style ul {
    padding: .25rem 0 .5rem;

}
#button-container .button {
    font-size: 0.9375rem;
}
#button-container p.submit {
    padding-bottom: 1.75rem;
    margin-top: 0;
}